@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <title>PizzaMama</title>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
    <div id="main-container">

        <img id="main-logo" src="/images/main_logo.png" alt="logo pizza mama" />
        <div class="text-center">
            
            <p><a id="link-menu" asp-page="MenuPizzas">Voir le menu</a></p>
        </div>
    </div>
</body>
</html>

